#highscores {
    float: left;
    margin-left: 10px;
}

#timer {
    float: right;
    margin-right: 10px;
}

#timerdisplay {
    float: right;
}

.container {
    padding-top: 50px;
}

#codingquiz {
    text-align: center;
}

#instructions {
    text-align: center;
    font-size: 18px;
}

#question {
    font-size: 24px;
    font-weight: bold;
}

.answers {
    float: left;
}

.answer-buttons {
    margin-top: 5px;
}

#front-page {
    display: block;
}

#quiz-page {
    display: none;
}