#highscores {
    float: left;
    margin-left: 10px;
}

#timer {
    float: right;
    margin-right: 10px;
}

.container {
    padding-top: 50px;
}

#codingquiz {
    text-align: center;
}

#instructions {
    text-align: center;
    font-size: 18px;
}

.btn-primary {
}